.jumbotron
  %h1 Skeletor
  %h2 Bootstrap your Rails project

%h3 Do it here
=link_to 'Login', new_session_path, class: 'btn btn-primary'
=link_to 'Register', new_account_path, class: 'btn btn-success'
